# Ignorar node_modules del Servidor y del Frontend
Servidor/node_modules/
Frontend/node_modules/

# Ignorar archivos de entorno
Servidor/.env
Frontend/.env

# Ignorar archivos de logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar las carpetas de construcción
Servidor/dist/
Servidor/build/
Frontend/build/
Frontend/dist/

# Ignorar las dependencias locales
.DS_Store

# Ignorar archivos temporales de sistemas operativos
Thumbs.db
